/* Estilos adicionais para o Movie Critic */

.post {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.author-info {
    display: flex;
    align-items: center;
}

.author-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.navbar-nav .nav-item + .nav-item {
    margin-left: 10px;
}

.navbar-nav .nav-link {
    margin-right: 15px;
}
.filmModal {
    width: 100%;
    margin: 5% auto;
    background-color: gray;
}
/* Estilo para o card do filme */
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

/* Animação de crescimento do card ao passar o mouse */
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo para o card do filme */
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

/* Animação de crescimento do card ao passar o mouse */
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo para a legenda */
.card .card-text.saber-mais::after {
    content: "Saber mais";
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Mostrar a legenda ao passar o mouse sobre o card */
.card:hover .card-text.saber-mais::after {
    opacity: 1;
}

/* Estilo para o modal */
.w3-modal-content {
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Animação do modal ao abrir */
.w3-modal-content.show {
    transform: scale(1);
    opacity: 1;
}

/* Animação do modal ao fechar */
.w3-modal-content {
    transform: scale(0.9);
    opacity: 0;
}

/* Adicionando um fundo escuro ao modal */
.w3-modal {
    background-color: rgba(0, 0, 0, 0.5);
}

body {
    padding-top: 56px;
}

footer {
    padding: 20px;
    background-color: #f8f9fa;
    margin-top: 20px;
}